<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialOutputEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialOutputEx.Properties.Settings>
            <setting name="IsStartingNotchSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAutoBrake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseAutoNotchFit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAutoAirEX" serializeAs="String">
                <value>True</value>
            </setting>
        </SerialOutputEx.Properties.Settings>
    </userSettings>
</configuration>